@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-on-surface font-body-md antialiased;
}

/* Material Symbols icon font */
.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f7f9fb;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e0e3e5;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c4c6cf;
}
